:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-synthesis: none;
  font-size: 62.5%;

  /* font-sizes */
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-15: 1.5rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-24: 2.4rem;

  /* font-sizes by tag */
  --fs-h3: var(--fs-18);
}

@media (365px<= width <= 768px) {
  :root {
    --fs-h3: var(--fs-20);
  }
}

@media (min-width: 768px) {
  :root {
    --fs-h3: var(--fs-24);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}

ul {
  text-decoration: none;
  list-style: none;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

div {
  font-weight: 500;
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-15);
}

p {
  font-size: var(--fs-12);
}
